@import "src/styles/commonStyles.module.scss";

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;

    &__label {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: $primary-text-gray;
    }

    &__input {
        width: 100%;
        height: 48px;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        border: solid 1px $primary-input-gray;
        padding: 10px;
        color: #000000;
    }
}