@import "src/styles/commonStyles.module.scss";

.defaultButton {
  display: block;
  width: 100%;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border: none;
  background-color: #7101FF;
  color: $primary-white;
}

.cancelButton {
  @extend .defaultButton;
  background-color: $primary-white;
  color: #2C343A;
}