@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&display=swap');

$primary-font: 'Lexend', sans-serif;

$primary-white: #FFFFFF;
$primary-text-gray: #505E68;
$primary-input-gray: #CAD2D6;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: $primary-font;
    display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background-color: $primary-white;
}

.form {
    width: 376px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.buttonContainer {
    width: 100%;
    gap: 0; 
  }