@import "src/styles/commonStyles.module.scss";

.centredImage {
display: block;
margin: 0 auto;
width: 80px;
}

.heading {
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
  color: #000000;
}

.text {
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  color: $primary-text-gray;
  text-align: start;
}

.centerText {
  @extend .text;
  text-align: center;
}


