@import "src/styles/commonStyles.module.scss";
.checkbox-container {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
  
    &__label {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: $primary-text-gray;
    }
  
    &__input {
      
      width: 24px;
      height: 48px;
      border: solid 1px $primary-input-gray;
      padding: 10px;
      box-sizing: border-box;
    }
  }